body
{
    background-color: darkgray;
    font-family: Arial;
}

a
{
    color: black;
    text-decoration: none;
}

a:hover
{
    color: red;
    text-decoration: underline;
}

h1
{
    font-family: "Bauhaus 93";
    text-align: center;
    background-image: radial-gradient(circle at center, white, darkgrey);
    padding: 6px 0 6px 0;
}

form
{
    text-align: center;
    padding-top: 15%;
}

input
{
    border-radius: 5px;
}

p
{
    text-align: center;
}

#bouton
{
    border-radius:12px 0 12px 0;
    background: #478bf9;
    border:none;
    color:#fff;
    font:bold 12px Verdana;
    padding:6px 10px 6px 10px;
}

#bouton:hover
{
    box-shadow: 6px 6px 0px black;
}

#ecl1
{
    position: absolute;
    right: 1%;
    top: 5%;

}

#ecl2
{
    position: absolute;
    transform: scaleX(-1);
    left: 1%;
    top: 5%;
}

