body
{
    background-color: darkgray;
    font-family: Arial;
}

h1
{
    font-family: "Bauhaus 93";
    text-align: center;
    background-image: radial-gradient(circle at center, white, darkgrey);
    padding: 6px 0 6px 0;
}

input
{
    border-radius: 5px;
}

form
{
    text-align: center;
}

textarea
{
    border-radius: 5px;
}

#valid:hover
{
    opacity: 0.5;
}

.img:hover
{
    opacity: 0.5;
}

#dateCrea, #dateModif
{
    visibility: hidden;
}

