body
{
    background-color: darkgray;
    font-family: Arial;
}

h1
{
    font-family: "Bauhaus 93";
    text-align: center;
    background-image: radial-gradient(circle at center, white, darkgrey);
    padding: 6px 0 6px 0;
}

h2
{
    text-align: center;
}

form
{
    margin-left: 15%;
}

input
{
    border-radius: 5px;
}

#valider
{
    border-radius:12px 0 12px 0;
    background: #478bf9;
    border:none;
    color:#fff;
    font:bold 12px Verdana;
    padding:6px 10px 6px 10px;
}

#valider:hover
{
    box-shadow: 6px 6px 0px black;
}

#ecl1
{
    position: absolute;
    right: 1%;
    top: 5%;

}