body
{
    background-color: darkgray;
}

h1
{
    text-align: center;
    border: 3px solid red;
    border-radius: 10px;
}

h2
{
    text-align: center;
}

form
{
    margin-left: 15%;
}

input
{
    border-radius: 5px;
}

.valider
{
    text-indent: 20%;
}