body
{
    background-color: darkgray;
}

a
{
    color: black;
    text-decoration: none;
}

a:hover
{
    color: red;
    text-decoration: underline;
}

h1
{
    text-align: center;
}

li
{
    background-color: cornflowerblue;
    border-radius: 10px;
    list-style-type: none;
    padding-left: 10px;
}

