body
{
    background-color: darkgray;
    font-family: Arial;
}

a
{
    color: black;
    text-decoration: none;
}

a:hover
{
    color: red;
    text-decoration: underline;
}

h1
{
    font-family: "Bauhaus 93";
    text-align: center;
    background-image: radial-gradient(circle at center, white, darkgrey);
    padding: 6px 0 6px 0;
}

li
{
    background-color: cornflowerblue;
    border-radius: 10px;
    list-style-type: none;
    padding-left: 10px;
    margin-right: 20%;
}


.img:hover
{
    box-shadow: 5px 5px 0 white;
}

#ecl1
{
    position: absolute;
    right: 1%;
    top: 12%;

}


